html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  background-color: #bbbbbb !important;
}
#root{
  text-align: center;
  background-color: #bbbbbb;
}
.login-container{
  width: 400px;
  margin: 150px auto 0 auto;
  background-color: white;
  box-shadow: 5px 10px 8px #888888
}
.login-form{
  padding: 50px;
}
.login-btn{
  margin-top: 10px;
  width: 300px;
}
.login-err-msg{
  margin: 0;
  text-align: left;
  color: white;
  background-color: darkred;
  padding: 2px 0 2px 8px;
  font-size: 0.8rem;
}
.invoice-table-container{
  padding: 20px 40px;
}
.delete-btn{
  height: 35px;
}
.add-btn{
  height: 24px;
  padding: 0 10px 0 10px !important;
  margin-left: 10px;
}
.add-invoice-container{
  width: 90%;
  margin: 50px auto 0 auto;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
}
.add-invoice-form{
  padding: 30px;
  text-align: left;
}
.react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker__input-container{
  width: 100%;
}
.add-invoice-title{
  padding-top: 10px;
}
.add-record-submit-btn{
  margin-top: 20px;
}
.editor-table-header-btn{
  color: black !important;
  background-color: #bbbbbb !important;
  border: none !important;
  font-weight: 600 !important;
  font-size: 1.1rem !important;
}