html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
}
#root{
  text-align: center;
  background-color: #bbbbbb;
  height: 100%;
}
.login-container{
  width: 400px;
  margin: 150px auto 0 auto;
  background-color: white;
  box-shadow: 5px 10px 8px #888888
}
.login-form{
  padding: 50px;
}
.login-btn{
  margin-top: 10px;
  width: 300px;
}
